.Quote {
    display: flex;
    flex-direction:column;
    align-items:center;
    position: relative;
    width: 50%;
    height: 30%;
    border-radius: 10px;
    background-color: #313a49;
    padding: 30px;

    &-circle-dice {
        position:absolute;
        bottom: -25px;
        left: 50%;
        transform: translate(-50%);
        width: 40px;
        height: 40px;
        border-radius: 50px;
        background-color: #51fda9;
        transition: box-shadow 0.3 ease-in-out;
    }
    &-circle-dice:hover {
        box-shadow: 0 0 20px 5px hsl(150, 100%, 66%);
    }

    &-dice {
        width: 20px;
    }
}

h1 {
    color: #51fda9;
    font-size: small;
    font-weight: 800px;
}

p {
    color :#c0d4da;
    font-weight: bold;
    font-size: 28px;
}

button {
    border:none;
}

@media (max-width: 375px) {
    .Quote {
        width: 30%;
        height: 40%;
    }

    p {
        font-size: 20px;
    }
}